body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-size: 40px;
    font-family: system-ui;
    text-shadow: 1px 1px 1px white;
}