@font-face {
    font-family: "open_sansregular";
    src: url("../fonts/OpenSans-Regular-webfont.eot");
    src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded"),
      url("../fonts/OpenSans-Regular-webfont.woff") format("woff"),
      url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"),
      url("../fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-size: 40px;
    font-family: "open_sansregular";
    text-shadow: 1px 1px 1px white;
}